{%- if format != 'roller' -%}
Hi,

{% endif -%}
{{ package_name }} {{ package_version }} has been released:

{{ release_notes }}

For full release notes see the {% if format == 'roller' %}[GitHub Release Page](https://github.com/Unidata/MetPy/releases/tag/v{{ package_version }}).{% else %}GitHub release page.{% endif %}

{%- if format != 'roller' %}
https://github.com/Unidata/MetPy/releases/tag/v{{ package_version }}
{%- endif %}

{{ package_name }} packages are available for Conda on the {% if format == 'roller' %}[conda-forge channel](https://anaconda.org/conda-forge/{{ package_name }}){% else %}conda-forge channel {% endif %}
and for pip from the {% if format == 'roller' %}[Python Package Index](https://pypi.python.org/pypi/{{ package_name }}){% else %}Python Package Index{% endif %}.

{%- if format != 'roller' %}
https://anaconda.org/conda-forge/{{ package_name }}
https://pypi.python.org/pypi/{{ package_name }}
{%- endif %}

Let us know if you run into any problems, either at {% if format == 'roller' %}[{{ package_name }} issue tracker](https://github.com/Unidata/{{ package_name }}/issues){% else %}{{ package_name }} issue tracker{% endif %}, or on
{% if format == 'python-users' %}this list.
{% elif format =='roller' %}the [python-users list](https://www.unidata.ucar.edu/support/#mailinglists).
{%- else -%}
the python-users list:
https://www.unidata.ucar.edu/support/#mailinglists
{% endif %}
{% if format != 'roller' -%}
https://github.com/Unidata/{{ package_name }}/issues
{%- endif -%}
